$grey : lighten(#7f8b96, 15%);
$dark : #000000;
$muted : #f5f6ff;
$primary :#1DA1F2;
$secondary : #41c2b9;
$plain : #FFFFFF;
$danger : red;
$purple : #9c7eb9;
$warning : #d8590c;


$lightTheme : #dcdcdc;
$darkTheme : #0d1117;
$darkNav : #161b22;

$global-warning-background : $warning;
$global-primary-background : $primary;
$global-secondary-background : $secondary;
$global-muted-background : $muted;
